<nav>
  <div class="logo">
    <img src="../assets/images/LOGOS/Logos-01.png" alt="Logo" />
  </div>
  <div class="hamburger" onclick="toggleMenu()" aria-label="Toggle menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <ul class="nav-links">
    <li><a href="/home" onclick="page('/home'); return false;">Home</a></li>
    <li><a href="/about" onclick="page('/about'); return false;">About</a></li>
    <li>
      <a href="/portfolio" onclick="page('/portfolio'); return false;"
        >Portfolio</a
      >
    </li>
    <li>
      <a href="/dazzle-suk" onclick="page('/dazzle-suk'); return false;"
        >Dazzle-Suk</a
      >
    </li>
   
  </ul>
  <div class="contact-us">
      <a
        href="/contact"
        onclick="page('/contact'); return false;"
        class="contact-link"
        >Contact Us</a
      >
    </div>
</nav>
<div class="overlay" onclick="toggleMenu()"></div>
<div class="menubar">
  <ul>
    <li><a href="/home" onclick="page('/home'); return false;">Home</a></li>
    <li><a href="/about" onclick="page('/about'); return false;">About</a></li>
    <li>
      <a href="/portfolio" onclick="page('/portfolio'); return false;"
        >Portfolio</a
      >
    </li>
    <li>
      <a href="/dazzle-suk" onclick="page('/dazzle-suk'); return false;"
        >Dazzle-Suk</a
      >
    </li>
    <li>
      <a
        href="/contact"
        onclick="page('/contact'); return false;"
        class="contact-link"
        >Contact Us</a
      >
    </li>
  </ul>
</div>
