body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
.about-section {
  background-color: #053615;
  text-align: center;
  padding: 0px 0px;
  margin: 40px 0;
  display: flex; /* Use flexbox for alignment */
  justify-content: center;
  align-items: center;
}

.title-container {
  height: 250px;
  width: 100%;
  background-color: #053615;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0px; /* Remove additional margins */
}

.section-title {
  font-size: 8rem; /* Adjusted for better visibility */
  font-weight: bold;
  color: transparent; /* Makes the text transparent */
  -webkit-text-stroke: 1px #fff; /* White text stroke for outline */
  text-transform: uppercase; /* Capitalizes the text */
  text-align: center; /* Ensure text is centered */
}

/* Sub-title styling */
.sub-title {
  font-size: 2rem;
  letter-spacing: 3px;
  color: #053615;
  text-align: center; /* Centers the text */
  margin: 40px 0 15px; /* Adds spacing */
}
.about-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}
.text-container{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

p {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.8;
  letter-spacing: 2px;
  
}

@media (max-width: 1200px) {
  .section-title {
    font-size: 6rem;
  }

  .text-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }
.title-container {
    height: 200px;
  }
  .section-title {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 1px;
  }

  .text-container {
    width: 100%;
    padding: 0 0px;
  }
}
